*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family:Arial, Helvetica, sans-serif;
            line-height: 1.6;
        }
        header{
            background-color: rgb(27, 39, 39);
            color: aliceblue;
        }
        .container{
            max-width: 1100px;
            margin: 0 auto;
            padding: 15px;
        }
        